td {
padding: 6px 10px;
}

th {
padding: 6px 10px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu-div {
margin-top: 0;
margin-bottom: 30px;
background-color: #d3d9fc;
height: auto;
display: flex;
justify-content: space-between;
width: 100%;
}

.Menu-nav {
margin: 0px 40px;
padding: 20px;
background-color: #d3d9fc;
width: auto;
height: 20px;
display: flex;
}

.Menu-li {
padding: 10px;
display: inline;
background-color: #d3d9fc;
}

.App-footer {
padding: 10px;
background-color: #d3d9fc;
width: 100%;
height: 30px;
position: absolute;
top: calc(100vh - 50px);

}



.input_line {
display: flex;
justify-content: spase-between;
width: 360px;
margin: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.input_field1 {
font: 16px;
font-weight: 400;
margin: 0;
padding: 2px;
display: inline-block;
width: 150px;
}

.input_field2 {
font: 16px;
font-weight: 400;
margin: 0;
padding: 2px;
display: inline-block;
width: 200px;
}

.link_btn {
    display: block;
    width: 140px;
    font: bold 16px;
    margin-top: 15px;
    margin-left: 30px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px;
    border: 1px solid #CCCCCC;
}

.mrgn20{
margin: 20px;
}
